body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

}

.container-pc{
    display: block;
}
.container-mobile{
    display: none;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2874f0;
    color: white;
}
.box1{
    width: 5%;
    margin: 0.5em;
}
.box2{
    width: 90%;
    margin: 0em 0.5em;
}

main{
    background-color: #f2f2f2;
}
@media screen and (max-width: 450px) {
    .container-mobile{
        display: block;
    }

    .container-pc{
        display: none;
    }
}

.box-below{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
}        

.box-below-1{
    width: 50%;
    align-items: center;
    justify-content: center;
    padding-left: 3em;
}

.box-below-2{
    width: 50%;
    align-items: center;
    justify-content: center;
    padding-left: 3em;
}